.Weather {
  border: thick double #3365d185;
  font-family: "Lobster Two", cursive;
  box-shadow: #cb90e260 0px 5px 5px 2px;
  border-radius: 40px;
  margin: 45px auto 10px auto;
  color: #0a0853;
  padding: 20px;
  background-image: url(https://media.freestocktextures.com/cache/12/cf/12cf191f5dabfb4cb7f5313ef92b2775.jpg);
}

#mainicon {
  width: 115px;
  margin-right: 5px;
  margin-left: 70px;
}

li {
  list-style: none;
  font-size: 22px;
  text-transform: capitalize;
}
ul {
  padding: 0;
  margin-top: 15px;
}

#cityTemp {
  font-size: 90px;
}
#celsius {
  color: #000000;
}

h2 {
  font-size: 52px;
  margin-top: 5px;
}

#units {
  font-size: 23px;
  margin-left: 5px;
  position: relative;
  top: -38px;
}

input {
  box-shadow: #cb90e260 0px 5px 5px 2px;
}
.btn,
.form-control {
  font-size: 14px;
  font-weight: 100;
  border-radius: 8px;
}
